# Example settings.yaml file for ReasonAbleAI
# You can use a shared `settings.yaml` for the Orchestrator and Communicator (unless you are using multiple communicators)

# Orchestrator settings

communicators:
  - name: email
    url: http://emailer_communicator:5000
    agents:
      - greg
semantic_networks:
  - name: Python Programming Language
    url: http://python_semantic_network_web:5000
    description: Has details about the Python programming language, packages, libraries, patterns, best practices, etc.
abilities:
  - name: GitHub # This ability does not yet exist
    url: http://github_ability:5000
    description: Can read code in repositories, create and respond to GitHub issues, and read and create GitHub pull requests.
desires:
  - name: Improve orchestrator code base
    priority: 10
    description: Read code from the ReasonAbleAI/orchestrator repo and find ways to improve it. Then create a pull request with the changes unless another similar pull request already exist.
# Note, this can also be set as an environment variable OLLAMA_URL
# ollama_url: https://ollama-api.domain.tld


# Communicator settings

agents:
  - name: greg
    email: greg@domain.tld

imap:
  host: imap.gmail.com
  port: 993
  username: raai@gmail.com
  password: my_long_password

smtp:
  host: smtp.gmail.com
  port: 587
  username: raai@gmail.com
  password: my_long_password
